<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-identiv-smartcardreader" version="0.1.0">
    <name>Identiv Smartcard-Reader Plugin</name>
    <description>Identiv Smartcard-Reader Plugin - for USB-attached devices on Android</description>
    <license>Apache 2.0</license>
    <keywords>cordova,identiv,smartcard</keywords>
    <js-module src="www/IdentivSmartcardReader.js" name="IdentivSmartcardReader">
	<!--
		target ist the definition how you can access your plugin from outside,
		e.g. cordova.plugins.echo.echo("my first string", success, failure);
	-->
        <clobbers target="cordova.plugins.IdentivSmartcardReader" />
    </js-module>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
<!-- has to be the same name as in your *.js-file: cordova.exec(successCallback, errorCallback, "EinEcho", "echo", [name]) -->
			<feature name="IdentivSmartcardReader">
				<!-- your package in the *.java-file -->
				<param name="android-package" value="org.apache.cordova.plugin.IdentivSmartcardReader"/>
			</feature>
		</config-file>
		<source-file src="src/android/IdentivSmartcardReader.java" target-dir="src/org/apache/cordova/plugin/" />
		
		<framework src="src/android/app-release.gradle" custom="true" type="gradleReference" />
		
		<resource-file src="libs/jar/androidSCardV12.jar" target="/app/jar/androidSCardV12.jar"  />
		
	</platform>
</plugin>
